data
*.npz
*.tgz
*.tar.gz
.mnist-pytorch
client.yaml
values-temp.yaml
visualization
server_functions_old
config_private.yaml
server_functions_*.py
server_functions_old
.DS_Store
# Byte-code caches
__pycache__/
*.py[cod]